[user]
	name = Yury Meshkov
	email = yury.meshkov@gmail.com

[alias]
	 f = fetch --prune --all
	 s = status -sb
	st = status
	co = checkout
	# regex checkout
	#    git rco <regex> [<options>]
	rco = "!f() { REGEX=$1; shift; git checkout \"$@\" \"$(git branch --all | cut -c 3- | sed 's|^remotes/.*/||' | grep -m 1 -iEe \"$REGEX\" )\"; }; f"
	ci = commit
	br = branch
	df = diff
	dfs = diff --staged
	la = -c core.pager='less -S' log --pretty='tformat:%C(bold cyan)%h %C(blue)%<(10,trunc)%aN %<(110,trunc)%C(white)%s %C(auto)%d %C(dim green)%ar' --graph --all
	lb = -c core.pager='less -S' log --pretty='tformat:%C(bold cyan)%h %C(blue)%<(10,trunc)%aN %<(110,trunc)%C(white)%s %C(auto)%d %C(dim green)%ar' --graph
	 l = -c core.pager='less -S' log --pretty='tformat:%C(bold cyan)%h %C(blue)%<(10,trunc)%aN %<(110,trunc)%C(white)%s %C(auto)%d %C(dim green)%ar' --graph -30
	#logs = log --graph --decorate --oneline --abbrev-commit --all -45
	#logc = log --graph --decorate --abbrev-commit --format=format:'%C(bold blue)%h%C(reset) - %C(bold yellow)%d%C(reset) %C(white)%s%C(reset)'

	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	## See what files were changed since yesterday
	changed = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --since=yesterday --name-only

	# Shows changes to "Suspend" in file
	# git log -L '/Suspend/',/^}/:Src/HIL/Core/MG_Core/BackgroundMgr/BackgroundMgr.cpp

	hide = update-index --assume-unchanged
	unhide = update-index --no-assume-unchanged
	# Lists files --assumed-unchanged that were added with 
	hidden = !git ls-files -v | grep \"^[a-z]\"
	ignored = !git status -s --ignored | grep \"^!!\"

	# list aliases
	al = "!git config -l | grep alias | cut -c 7-"

[difftool]
	prompt = true

[diff]
	tool = p4mergetool

[difftool "p4mergetool"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $LOCAL $REMOTE

[mergetool "p4mergetool"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $PWD/$BASE $PWD/$REMOTE $PWD/$LOCAL $PWD/$MERGED
	trustExitCode = false

[core]
	excludesfile = ~/.gitignore
	preloadindex = true
	editor = nvim
	abbrev = 9

[color]
	ui = auto

[push]
	default = simple

[credential]
	helper = store

[commit]
	template = ~/.git-commit-message

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
