[user]
	name = Tatiana Belousova
	email = t.belousova@gmail.com

[alias]
	 f = fetch --prune --all
	 s = status -sb
	st = status
	co = checkout
	sur = submodule update --init --recursive
	rco = "!f() { REGEX=$1; shift; git checkout \"$@\" \"$(git branch --all | cut -c 3- | sed 's|^remotes/.*/||' | grep -m 1 -iEe \"$REGEX\" )\"; }; f"
	ci = commit
	br = branch
	df = diff
	dfs = diff --staged
	la = -c core.pager='less -S' log --pretty='tformat:%C(bold cyan)%h %C(blue)%<(10,trunc)%aN %<(110,trunc)%C(white)%s %C(auto)%d %C(dim green)%ar' --graph --all
	lb = -c core.pager='less -S' log --pretty='tformat:%C(bold cyan)%h %C(blue)%<(10,trunc)%aN %<(110,trunc)%C(white)%s %C(auto)%d %C(dim green)%ar' --graph
	 l = -c core.pager='less -S' log --pretty='tformat:%C(bold cyan)%h %C(blue)%<(10,trunc)%aN %<(110,trunc)%C(white)%s %C(auto)%d %C(dim green)%ar' --graph -30

	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	## See what files were changed since yesterday
	changed = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --since=yesterday --name-only

	hide = update-index --assume-unchanged
	unhide = update-index --no-assume-unchanged
	# Lists files --assumed-unchanged that were added with
	hidden = !git ls-files -v | grep \"^[a-z]\"
	ignored = !git status -s --ignored | grep \"^!!\"

	# list aliases
	al = "!git config -l | grep alias | cut -c 7-"

[core]
	pager = delta
	excludesfile = ~/.gitignore
	preloadindex = true
	editor = nvim
	abbrev = 9
	autocrlf = false

[http]
        sslVerify = false

[credential]
	helper = store

[color]
	ui = auto

[push]
	default = simple

[commit]
	template = ~/.git-commit-message

[uploadpack]
	allowFilter = true
	advertiseblobmaxbytes = true
	allowanysha1inwant = true

[interactive]
	diffFilter = delta --color-only --features=interactive

[delta]
	features = decorations
	navigate = true
	line-numbers = true
	side-by-side = true
	minus-style = "red"
	plus-style = "green dim"
	commit-style = "bold yellow"
	file-style = "bold purple"
	hunk-header-style = "bold blue"
	light = false

[delta "interactive"]
	keep-plus-minus-markers = false

[delta "decorations"]
	commit-decoration-style = blue ol
	commit-style = raw
	hunk-header-decoration-style = blue box
	hunk-header-line-number-style = "#067a00"
	hunk-header-style = line-number syntax

[difftool]
	prompt = true
	tool = fugitive

[merge]
	tool = fugitive

[mergetool]
	prompt = true
	keepBackup = false

[mergetool "fugitive"]
	cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
