type format add -f hex vbm_index_type
type format add -f hex buffer_addr
type format add -f hex block_index_type
type format add -f hex uintptr_t
type format add -f hex int8_t
type format add -f hex int_fast8_t
type format add -f hex uint8_t
type format add -f hex uint_fast8_t
type format add -f hex int16_t
type format add -f hex int_fast16_t
type format add -f hex uint16_t
type format add -f hex uint_fast16_t
type format add -f hex int32_t
type format add -f hex int_fast32_t
type format add -f hex uint32_t
type format add -f hex uint_fast32_t
type format add -f hex int64_t
type format add -f hex int_fast64_t
type format add -f hex uint64_t
type format add -f hex uint_fast64_t
type format add -f hex long
type format add --format hex unsigned int
type format add -f hex int
command unalias p

command script import ~/.lldb/ssd_udsDump.py

command regex mup 's/(.+)/memory read -s1 -l32  -c0x1040 --force %1/'
command regex cup 's/(.+)/memory read -s1 -l32  -c0x850 --force %1/'

set set target.max-memory-read-size 0x10a00
